


#TasksList {
    background-color: rgba(whitesmoke, .8);


    display: flex;
    gap: .5rem;
    flex-direction: column;

    padding: .5rem;

    // width: 40vw;
    height: calc(100vh - 3rem);

    ul{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        li{


            display: flex;

            background-color: white;
            box-shadow: 0 0 2px rgba(black, .1);
            border-radius: .5rem;
            
            align-items: center;
            padding: 0 1rem;

        }
    }   

}



.cardTask{
    background-color: white;
    width: 20vw;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;


    h1{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
        opacity: .5;
    }



    &:hover{
        background-color: rgba(whitesmoke, .8);
        transition: 1s;
    }
}







.task-controls {
    display: flex;
    margin: 0 .5rem 0 .5rem;
    align-items: center;
  
    button {
      background-color: whitesmoke;
      padding: .2rem;

      height: 1.5rem;
      
      
      
      cursor: pointer;
      color: gray; 
      font-size: .8rem; 
      
      &:hover {
          color: gainsboro; 
        }
    }
    #MovDown{
        border-radius: 0 .25rem .25rem 0;
        border-top: 1px solid rgba(black, .3);
        border-bottom: 1px solid rgba(black, .3);
        border-right: 1px solid rgba(black, .3);
        border-left: none;

    }
    
    #MovUp{
        border-radius: .25rem 0 0 .25rem;
        border-top: 1px solid rgba(black, .3);
        border-bottom: 1px solid rgba(black, .3);
        border-left: 1px solid rgba(black, .3);
        border-right: none;
    }
  }
  
  
  
.controls{
    button{
        background-color: aqua;
        padding: .5rem;
        border-radius: .5rem;
    }

    
    
}



.scrollable-container{
  overflow-y: auto; /* Habilita a rolagem vertical */
  overflow-x: hidden; /* Oculta a rolagem horizontal, se necessário */
}